#landing{
    display: flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient(131deg, rgba(109, 91, 224, 0.87) 30.21%, rgba(109, 91, 224, 0.00) 100%), url('../../Assets/Stock/Heading.png'), lightgray -0.202px 0px / 100.021% 100.781% no-repeat;
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;
}
#landing > section{
    padding: 40px;
}
#landing > section > div > .headline{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#landing > section > div > .logo{
    width: 300px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 464px){
    #landing > section > div > .logo{
        width: 150px;
        
    }
}
.calendly-badge-widget {
    position: relative !important;

}
.x-btn{
    position: absolute;
    right: 15px;
    bottom: -10px;
}
.newsletter{
    height: auto;
    background-color: var(--primary-purple);
    border-radius: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    display: flex;
    justify-content: center;
 
}
.ff-form{
    background-color: transparent !important;
}


.ff-title, .ff-form .ff-description p, .ff-item-qs{
    color: var(--off-white) !important;
}
.ff-title, .ff-form .ff-description p{
    margin-bottom: -10px !important;
}
.ff-title{
    font-size: 25px !important;
    font-weight: bold !important;
}
.ff-form .ff-description p{
    font-size: 16px !important;
}

.ff-secfields {
    display: inline-block !important;
    width: 60%;
    margin-right: 10px;
}
.ff-submit{
    padding: 10px !important;
}
.ff-button-bar{
    display: inline-block !important;
}

.ff-item-qs {
    display: none !important;
}
.ff-widget-error{
    color: var(--off-white) !important;
}
#Error1656351229 > b{
    background-color:  var(--pink);
    color: var(--off-white);
}
.ff-widget-error{
    display: none !important;
}
.newsletter-icon{
    position: fixed;
    background-color: var(--primary-purple);
    padding: 10px;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
    z-index: 99;

}
.noti{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--pink);
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.hidden{
    display: none !important;
}


@media only screen and (max-width: 354px) {
    .ff-secfields {
        width: 45%;
    }
    
 }
 @media only screen and (max-width:767px) {
    #landing > section > div > .logo{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    #landing > section > div > .headline{
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--off-white);
    }

    .newsletter{
        padding: 10px;
    }
 }
 
 @media only screen and (max-width:557px) {
    .newsletter-icon > img{
        width: 30px;

    }
 }
 