#landing{
    display: flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient(131deg, rgba(109, 91, 224, 0.87) 30.21%, rgba(109, 91, 224, 0.00) 100%), url('../../Assets/Stock/Heading.png'), lightgray -0.202px 0px / 100.021% 100.781% no-repeat;
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;
}
#landing > section{
    padding: 40px;
}
#landing > section > div > .headline{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#landing > section > div > .logo{
    width: 300px;
}
@media only screen and (max-width: 464px){
    #landing > section > div > .logo{
        width: 150px;
        
    }
}
