
/*Colors*/
:root {
  --black: #171A1B;
  --primary-purple: #6D5BE0;
  --secondary-purple: #5744CD;
  --third-purple: #4533B5;
  --orange: #FF793F;
  --secondary-orange: #FF5A12;
  --pink: #FF0E73;
  --off-white: #FDFBFA;
}
body{
  overflow-x: hidden;
  background-color: var(--off-white) !important;
}

.off-white{
  color: var(--off-white) !important;
}
.black{
  color: var(--black) !important;
}
.primary-purple{
  color: var(--primary-purple) !important;
}
.secondary-purple{
  color: var(--secondary-purple) !important;
}
.third-purple{
  color: var(--third-purple) !important;
}
.orange{
  color: var(--orange) !important;
}
.secondary-orange{
  color: var(--secondary-orange) !important;
}
.pink{
  color: var(--pink) !important;
}
/**Font Family Imports (Change / Add according to website)**/


/*Import from Font File*/

@font-face {
  font-family: 'Brock Regular';
  src: url('../public/Fonts/Brockmann-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brock SemiBold Italic';
  src: url('../public/Fonts/Brockmann-SemiBoldItalic.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brock Bold';
  src: url('../public/Fonts/Brockmann-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brock Italic';
  src: url('../public/Fonts/Brockmann-RegularItalic.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.brock-regular{
  font-family: 'Brock Regular' !important;
}

.brock-semibold-italic{
  font-family: 'Brock SemiBold Italic' !important;
}
.brock-bold, strong{
  font-family: 'Brock Bold' !important;
}

/*Headings*/
h1,h3,h4{
  font-family: 'Brock SemiBold Italic';
}
h5{
  font-family: 'Brock Regular';
}
h2{
  font-family: 'Brock Italic';
}
/*Main Titles*/
h1{
  font-size: 45px !important;
}
h2{
  font-size: 28px !important;
}
h4{
  font-size: 55px !important;
}


/*Main Text*/
p, a,button{
  font-family: 'Brock Regular' !important;

}
p, a{
  font-size: 25px !important;
}
button{
  font-size: 23px !important;
  font-family: 'Brock Bold' !important;

}

/*Hyper Link Hover*/
a, .link{
  transition: ease-in-out .2s;
}
.link{
  font-weight: bold;
}
.link:hover{
  color: var(--orange) !important;
}

/*Button Styling (Change according to website)*/
button{
  color: var(--off-white);
  border: none;
  padding: 10px 40px;
  border-radius: 45.5px !important;
  background: var(--orange);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
  backdrop-filter: blur(2px);
  transition: ease-in-out .2s;
}
button:hover{
  background-color: var(--secondary-orange);
  color: white;
}
button:active{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0);
}

/*Box Shadow*/
.box-shadow{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

/*Animation Keyframes (Change / Add according to website)*/
@keyframes floater {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 40px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.bottom-frame{
  position: absolute;
  width: 100%;
}
.bottom-frame{
  bottom: -1px;
  z-index: 2;
}

.top-frame{
  position: absolute;
  width: 100%;
  z-index: 2;
  top: -1px;
}
.flip{
  transform: scaleX(-1);
}
.upside{
  transform: scaleY(-1);
}
.flip-upside{
  transform: scale(-1, -1);
}
.text-shadow{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/**Media Queries**/

/* Large Devices*/
@media only screen and (min-width: 1200px){

}

/* Medium Devices*/
@media only screen and (max-width: 1199px){

}

/* Smaller Devices*/
@media only screen and (max-width: 991px){
  

}

@media only screen and (max-width: 424px){
  h1{
    font-size: 30px !important;
  }
  h2{
    font-size: 20px !important;
  }
  h4{
    font-size: 55px !important;
  }
  p, a{
    font-size: 20px !important;
  }

}
